/* You can add global styles to this file, and also import other style files */

body{
    background-color: rgba(108, 187, 243, 0.89);

    display: flex;
    justify-content: center;
    align-items:center;
}