.Upload_Window {
  justify-content: center;
  text-align: center;
  display: flex;
  width: 700px;
}

.Download_Window {
  justify-content: center;
  text-align: center;
  display: flex;
  width: 700px;
  margin-top: 20px;

}

.FormClass {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 0px 5px 12px 1px black;
  max-height: auto;
  width: 600px;
}

.UploadSection{
  font-size: 23px;
  margin: 2% 70% 1% 0;
}

.DownloadSection{
  font-size: 23px;
  margin: 2% 65% 1% 0;
}

img{
  margin: 0 0 0 15px;
  text-align: left;

}
.image-upload{
  margin: 1% 55% 1% 0;
  text-align: left;

}

ul{
text-align: left;
font-size: 15px;
margin: 2px;

}

.uploadAllBtn{
  text-align: left;
  margin: 0 0 0 2.35%;
}
.downloadAllBtn{
  text-align: left;
  margin: 0 0 3% 2.35%;
}

button {
  margin: 5px;
  border-radius: 2px;
  color: white;
  font-size: 13px;
  border: 1px solid #555555;
  background-color: rgba(25, 131, 206, 0.89);
}

button:hover {
  color: black;
  cursor: pointer;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 30px;
    height: 30px;
    cursor: pointer;
}