
<div class="Upload_Window">
  <form class="FormClass">
    <h1 class="UploadSection" >Upload Section</h1>
    <div class="image-upload">
      <label for="file-input">
        <img src="https://img.icons8.com/ios/2x/upload--v2.gif"/>
      </label>
      <input id="file-input" type="file" name="image" multiple (change)="selectImage($event)" />
    </div>

    <div class="uploadContainer">
      <ul *ngFor="let image of uploadMap|keyvalue;">
          {{image.key}} 
          <button class="UploadBtn" (click)="onUpload(image)">Upload</button>
          <button class="CancelBtn" (click)="onUploadCancel(image.key)">Cancel</button>
      </ul>
      <div class="uploadAllBtn">
        <button *ngIf="uploadMap.size>1" class="inputBtn" (click)="onUploadAll()">Upload All</button>
      </div>
    </div>
    <br />
  </form>
</div>

<div class="Download_Window">
  <form class="FormClass">
    <h1 class="DownloadSection">Download Section</h1>
    <ul *ngFor="let image of downloadMap |keyvalue;">
      {{image.key}} 
      <button class="UploadBtn" (click)="Downloadfile(image)">Download</button>
  </ul>
  <div class="downloadAllBtn">
    <button *ngIf="downloadMap.size>1" class="inputBtn" (click)="onDownloadAll()">Download All</button>
  </div>
  </form>
</div>